################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/event-publish-app/.vs/EventSubscription
